body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}


#sisalto {
    margin: auto;
    position: relative;
    height: 60vw;
    width: 60vw;
}


#yla {
    position: absolute;
    border-style: solid;
    border-width: 3px;
    height: 6vw;
    width: 62vw;
    padding: 1vw;
}



#vasen {
    position: absolute;
    border-style: solid;
    border-width: 3px;
    top: 10vw;
    width: 15vw;
    height: 16vw;
    padding: 2vw;
}


#oikea {
    position: relative;
    border-style: solid;
    border-width: 3px;
    top: 10vw;
    left: 21vw;
    width: 39vw;
    height: 16vw;
    padding: 2vw;
    overflow: scroll;
    text-align: justify;
}







