body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}


button {
    display: inline-block;
    background-color: darkgray;
    border-radius: 0.5vw;
    border: 0.25vw #cccccc;
    color: brown;
    text-align: center;
    font-size: 1.25vw;
    padding: 0.15vw;
    width: 12vw;
    height: 2vw;
    cursor: pointer;
    margin: 0.75vw;
}


#sisalto {
    margin: auto;
    position: relative;
    height: 60vw;
    width: 60vw;
}


#yla {
    position: absolute;
    border-style: solid;
    border-width: 3px;
    height: 6vw;
    width: 62vw;
    padding: 1vw;
}



#vasen {
    position: absolute;
    border-style: solid;
    border-width: 3px;
    top: 10vw;
    width: 15vw;
    height: 16vw;
    padding: 2vw;
}


#oikea {
    position: relative;
    border-style: solid;
    border-width: 3px;
    top: 10vw;
    left: 21vw;
    width: 39vw;
    height: 16vw;
    padding: 2vw;
    overflow: scroll;
    text-align: justify;
}


#oikea1 {
    position: absolute;
    width: 80%;
    height: 16vw;
}

#oikea2 {
    position: absolute;
    width: 80%;
    height: 16vw;
    top: 18vw;
}

#oikea3 {
    position: absolute;
    width: 80%;
    height: 16vw;
    top: 36vw;
}

#oikea4 {
    position: absolute;
    width: 80%;
    height: 16vw;
    top: 54vw;
}





